aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
appnope==0.1.3
asgiref==3.5.2
asn1crypto==0.24.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.9.1
boto3==1.11.2
botocore==1.14.2
cachetools==4.2.4
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
charset-normalizer==2.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3
cycler==0.10.0
decorator==5.1.1
Django==3.2
django-admin-autocomplete-list-filter==1.0.1
django-admin-rangefilter==0.6.3
django-admin-tools==0.9.0
django-background-tasks==1.2.5
django-compat==1.0.15
django-cors-headers==3.2.1
django-debug-toolbar==3.4.0
django-decorator-include==3.0
django-filter==22.1
django-fsm==2.6.1
django-guardian==2.2.0
django-json-widget==1.1.1
django-jsonfield==1.4.1
django-pandas==0.6.1
django-proxy==1.2.1
django-redshift-backend==1.1.0
django-silk==4.3.0
django-stdimage==5.1.1
django-storages==1.8
django-taggit==1.2.0
django-timezone-field==4.0
django-utils==0.0.2
djangorestframework==3.13.1
djangorestframework-api-key==2.0.0
djangorestframework-simplejwt==5.2.2
docutils==0.15.2
drf-api-tracking==1.8.0
drf-yasg==1.20.0
et-xmlfile==1.1.0
executing==1.1.1
factory-boy==3.2.1
Faker==14.2.0
fastparquet==0.4.0
ffmpy==0.2.2
flake8==5.0.4
frozenlist==1.3.0
future==0.18.2
gitchangelog==3.0.4
gitdb==4.0.9
GitPython==3.1.0
google-api-core==1.20.1
google-api-python-client==1.9.3
google-auth==1.17.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.52.0
gprof2dot==2021.2.21
gunicorn==20.1.0
h5py==2.10.0
httplib2==0.20.4
idna==2.8
imagesize==1.3.0
importlib-metadata==5.1.0
inflection==0.5.1
ipaddress==1.0.17
ipython==8.4.0
iso8601==0.1.12
isort==5.10.1
itypes==1.2.0
jedi==0.18.1
jeepney==0.4.1
Jinja2==3.1.2
jmespath==0.9.4
json2html==1.3.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
llvmlite==0.32.1
lxml==4.5.2
m3u8==0.5.2
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.1.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mss==4.0.3
multidict==6.0.2
mysql-client==0.0.1
mysqlclient==1.4.6
numba==0.49.1
numpy==1.18.1
oauth2client==4.1.3
oauthlib==3.2.0
opencv-contrib-python==3.4.8.29
openpyxl==3.0.9
packaging==21.3
pafy==0.5.5
pandas==1.3.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
progressbar2==4.0.0
prompt-toolkit==3.0.31
protobuf==4.21.1
psycopg2-binary==2.8.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybaselines==0.8.0
pycodestyle==2.9.1
pycparser==2.19
pydub==0.23.1
pyflakes==2.5.0
Pygments==2.12.0
PyJWT==1.7.1
pyparsing==2.4.5
python-dateutil==2.8.1
python-magic==0.4.25
python-utils==3.3.3
PythonVideoConverter==1.0.3
pytz==2019.3
pyxdg==0.26
pyzmq==18.1.1
requests==2.22.0
requests-oauthlib==1.3.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.3.0
scipy==1.7.1
SecretStorage==2.3.1
six==1.13.0
slackclient==2.5.0
slacker==0.14.0
slugify==0.0.1
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.3.0
stack-data==0.5.1
superlance==2.0.0
superslacker==0.4
supervisor==4.2.4
thrift==0.16.0
toml==0.10.2
traitlets==5.5.0
unicode-tr==0.6.1
uritemplate==3.0.1
urllib3==1.25.7
vidgear==0.1.5
wavio==0.0.4
wcwidth==0.2.5
XlsxWriter==3.0.3
yarl==1.7.2
youtube-dl==2019.11.22
zipp==3.11.0
